# Venv i Python
.venv/
__pycache__/
*.pyc
venv/
__pycache__/
*.pyc

# DATA I VELIKI FAJLOVI - Dodaj svoj folder sa slikama ovdje!
ai_vs_real_84k_train_data/
data/
data_mini/
*.zip
*.tar.gz

# AI Modeli (Weights)
*.pth
*.pt
*.h5
models/*.pth
models/*.pt

# Logs i OS
*.log
logs/
.DS_Store
Thumbs.db

# Docker
.docker/

# .env
**/.env