# Venv i Python
.venv/
__pycache__/
*.pyc
venv/
__pycache__/
*.pyc

# DATA I VELIKI FAJLOVI - Dodaj svoj folder sa slikama ovdje!
ai_vs_real_84k_train_data/
data/
data_mini/
*.zip
*.tar.gz

# AI Modeli (Weights)
*.pth
*.pt
*.h5
# Dozvoli (whitelist) samo glavne modele koji se koriste u aplikaciji
!backend/models/cnn_efficientnet/model.pth
!backend/models/vit_transformer/model.pth

# Logs i OS
*.log
logs/
.DS_Store
Thumbs.db

# Docker
.docker/

# .env
**/.env