# Venv i Python
.venv/
__pycache__/
*.pyc
venv/
__pycache__/
*.pyc

# DATA I VELIKI FAJLOVI
ai_vs_real_84k_train_data/
evaluation_dataset/
novi_ai_vs_real_dataset_1k/
novi_ai_vs_real_dataset_2k/
data/
data_mini/
*.zip
*.tar.gz

# AI Modeli (Weights)
*.pth
*.pt
*.h5

# Logs i OS
*.log
logs/
.DS_Store
Thumbs.db

# Docker
.docker/

# .env
**/.env

# ostalo
**.pdf
**.docx
**.pptx